<body>
    <section class="recipe-prv">
        <% for(let item of recipe) {%>
            <% if (item._id==idRecipe) { %>
                <h2 class="recipe-heading">
                    <%= item.title %>
                </h2>
                <!-- <% for (let img of item.image) {%>
                    <img class="recipe-img img-fluid" src="<%= img%>">
                <% } %> -->
                <% for(let i=0; i<item.image.length;i++) {%>
                    <img class="recipe-img img-fluid" src="<%= item.image[i]%>">
                    <h6 class="recipe-title">image.<%- i+1 %></h6>
                <% } %>
                <p class="recipe-text"><%- item.article %></p>
            <% } %>
        <% } %>
        <a href="/" class="cancel">Retour</a>
    </section>
    <!-- comment -->
    <section>
        <h5 class="coment-prv">Vos commentaires</h5>
            <% for(let item of comment) {%>
                <!-- <h6><%= item.name %> <%= item.createdAt %></h6> -->
                <h6 class="coment-name">
                    <!-- format name to Name-->
                    <% var name = item.name.charAt(0).toUpperCase() + item.name.substring(1).toLowerCase(); %>
                    <%= name %>
                    <small class="coment-date">
                        <!-- format date with toISOString() and slice-->
                        <% var frDate = item.createdAt.toISOString().slice(0,10).split("-").reverse().join("/"); %>
                        <%= frDate %>
                    </small>
                </h6>
                <p class="coment-texte"> <%= item.comment %></p>
            <% } %>
    </section>

    <!-- post comment -->
    <section>
        <h5>Laisser un commentaire</h5>
        <!-- post the comment with the id on the page -->
        <form action="/comment/<%= idRecipe%>" method="POST">
            <div class="row">
                <div class="input-field">
                    <p>Les champs sont obligatoires.<br>Votre adresse e-mail ne sera pas publiée. </p>
                    <h5>Commentaire:</h5>
                    <textarea name="comment" required></textarea>
                </div>
            </div>
            <div class="input-field">
                <input type="text" name="name" required>
                <label for="name">Nom</label>
            </div>
            <div class="input-field">
                <input type="email" name="email" required>
                <label for="email">Mail</label>
            </div>
            <div class="row">
                <input type="submit" value="Envoyer" class="btn">
                <!-- back on this recipe post if click cancel-->
                <% for(let item of recipe) {%>
                    <% if (item._id==idRecipe) { %>
                    <a href="/recipe/<%= item._id %>" class="btn orange">Annuler</a>
                    <% } %>
                <% } %>
            </div>
        </form>
    </section>
    <script src="/js/main.js"></script>
</body>

</html>