<body>
    <section class="recipe-prv">
        <% for(let item of recipe) {%>
            <% if (item._id==idArticle) { %>
                <h2 class="recipe-heading">
                    <%= item.title %>
                </h2>
                <% for (let img of item.image) {%>
                    <img class="recipe-img img-fluid" src="<%= img%>">
                <% } %>
                <p class="recipe-text"><%- item.article %></p>
            <% } %>
        <% } %>
        <a href="/" class="cancel">Retour</a>
    </section>
    <!-- comment -->
    <section>
        <h5>Vos commentaires</h5>
            <% for(let item of comment) {%>
                <h6><%= item.name %> <%= item.createdAt %></h6>
                <p><%= item.comment %></p>
            <% } %>
    </section>

    <!-- post comment -->
    <section>
        <h5>Laisser un commentaire</h5>
        <form action="/comment" method="POST">
            <div class="row">
                <div class="input-field">
                    <p>Les champs sont obligatoires.<br>Votre adresse e-mail ne sera pas publiée. </p>
                    <h5>Commentaire:</h5>
                    <textarea name="comment" required></textarea>
                </div>
            </div>
            <div class="input-field">
                <input type="text" name="name" required>
                <label for="name">Nom</label>
            </div>
            <div class="input-field">
                <input type="email" name="email" required>
                <label for="email">Mail</label>
            </div>
            <div class="row">
                <input type="submit" value="Envoyer" class="btn">
                <!-- back on this recipe post if click cancel-->
                <% for(let item of recipe) {%>
                    <% if (item._id==idArticle) { %>
                    <a href="/recipe/<%= item._id %>" class="btn orange">Annuler</a>
                    <% } %>
                <% } %>
            </div>
        </form>
    </section>
    <script src="/js/main.js"></script>
</body>

</html>