<body>
    <section>
            <% for(let item of recipe) {%>
                <% if (item._id==idRecipe) { %>
                    <h4>Edit article: "<%= item.title %>"</h4>
                    <form action="/dashboard/update/<%= item._id %>" enctype="multipart/form-data" method="POST">
                        <div class="input-field">
                            <input type="text" name="title" value="<%= item.title %>">
                            <label for="title">Edit title</label>
                        </div>

                        <div class="row">
                            <div class="input-field">
                                <select id="status" name="status">
                                    <option value="draft" selected>Draft</option>
                                    <option value="public">Public</option>
                                </select>
                                <label for="status">Status</label>
                            </div>
                        </div>

                        <% for (let img of item.image) {%>
                            <img class="img-fluid" src="<%= img%>">
                        <% } %>
                        <div class="file-field input-field">
                            <div class="btn">
                                <span>File</span>
                                <input type="file" id="imageUpload" name="file" multiple/>
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text" placeholder="Upload one or more files">
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="input-field">
                                <h5>Edit your recipe:</h5>
                                <textarea name="article"><%= item.article %></textarea>
                            </div>
                        </div>
                        <!-- work on it change 
                            - idArticle to idRecipe, then do it in controllers too
                        -->
                        <!-- comment -->
                        <section>
                            <h4>Edit comment</h4>
                            <% for(let item of comment) {%>
                            <form action="/comment/<%= idRecipe%>" method="POST">
                                <div class="row">
                                    <div class="input-field">
                                        <p>Les champs sont obligatoires.<br>Votre adresse e-mail ne sera pas publiée. </p>
                                        <h5>Commentaire:</h5>
                                        <textarea name="comment" ><%= item.comment %></textarea>
                                    </div>
                                </div>
                                <div class="input-field">
                                    <input type="text" name="name" value="<%= item.name %>">
                                    <label for="name">Nom</label>
                                </div>
                                <div class="row">
                                    <input type="submit" value="Envoyer" class="btn">
                                    <!-- back on this recipe post if click cancel-->
                                    <% for(let item of recipe) {%>
                                        <% if (item._id==idRecipe) { %>
                                            <a href="/recipe/<%= item._id %>" class="btn orange">Annuler</a>
                                        <% } %>
                                    <% } %>
                                </div>
                            </form>
                            <% } %>
                        </section>
 
                        <!-- work on it -->
                        <div class="row">
                            <input type="submit" value="Save" class="btn">
                            <a href="/dashboard" class="btn orange">Cancel</a>
                            <a href="/dashboard/update/remove/<%= item._id %>" class="btn red">Delete</a>
                        </div>
                    </form>
                <% } %>
            <% } %>
    </section>
</body>

</html>